:root{
    --openBg: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/summerOne.gif);
    --contentBg: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/sandy2.png);


    --headerBg: rgba(11, 236, 195, 0.229);
    --headerColor: rgb(28, 226, 157);

    --nameColor: rgb(4, 255, 230);
    --titlesColor: rgb(0, 185, 166);
    
    --pillTextColor: rgb(0, 255, 195);

    --loaderColor:no-repeat radial-gradient(farthest-side,#14f07b 94%,#0d35e900);

    --lineColor: rgba(0, 255, 195, 0.453);

    --zoom: cover;

    --gradientBg: linear-gradient(to bottom, #64563695 0%, rgba(160, 133, 91, 0) 20%), var(--contentBg);
}
